/* Style the app so that it looks more like When2Meet. */
body {
  margin: 0;
  /* Use a sans-serif font. */
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  margin: 10px;
}
/* Use CSS flexbox to make rows and columns */
.app .main {
  display: flex;
  flex-direction: row;
}
.app .main > div {
  flex-grow: 1;
}
.you-selector, .group-selector {
  max-width: 350px;
}

.you-legend {
  text-align: center;
  max-width: 350px;
}
.you-legend > span {
  display: inline-block;
  width: 30px;
  height: 20px;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

.group-legend {
  display: flex;
  flex-direction: row;
}
.group-legend > div {
  width: 100px;
  display: flex;
  flex-direction: row;
  height: 20px;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
}
.group-legend > div > span {
  flex-grow: 1;
}

.time-col, .you-col, .group-col {
  width: 50%;
}
.group-selector > div > div {
  column-gap: 0px;
  row-gap: 0px;
}
.time-col-inner {
  display: flex;
  flex-direction: row;
}
.time-col-inner > div {
  flex-grow: 1;
}
/* Add custom styles for the <div/> returned by the renderDateCell function. */
.group-date-cell {
  box-sizing: border-box;
  width: 100%;
  height: 26px;
  border-bottom: 1px solid black;
}
.group-date-cell-inner {
  width: 100%;
  height: 25px;
  padding: 1px;
}