/* Style the app so that it looks more like Doodle. */
body {
  margin: 0;
  /* Use a sans-serif font. */
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  margin: 10px;
}
.app .main {
  display: flex;
  flex-direction: row;
}
.app .main > div {
  flex-grow: 1;
}
.you-selector, .group-selector {
  max-width: 350px;
}

.you-legend {
  text-align: center;
  max-width: 350px;
}
.you-legend > span {
  display: inline-block;
  width: 30px;
  height: 20px;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

.group-legend {
  display: flex;
  flex-direction: row;
}
.group-legend > div {
  width: 100px;
  display: flex;
  flex-direction: row;
  height: 20px;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
}
.group-legend > div > span {
  flex-grow: 1;
}
.rgdp__grid-cell {
  background-color: black;
}